
body {
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
}   

.top_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top_menu li {
    float: left;
}

.top_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top_menu li a:hover {
    background-color: #111;
}

#target_container {
    width: 100%;
    text-align: center;
}
  
#target_div {
    display: inline-block;
}