/*
* Visualization Prototypes
* Flatiron Institute, 2020
* @lizlove
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --off-black: #1c1c1c;
  --off-white: rgb(248, 248, 248);
  --border: rgb(221, 221, 221);
  --purple: rgb(58, 19, 62);
  --rad-red: rgb(255, 53, 94);
  --moz-blue: rgb(0, 70, 139);
  --skel-blue: #33c3f0;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: rgb(255, 255, 255);
  font-size: 1.6rem;
  color: var(--off-black);
  margin: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem 0;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--off-black);
  border-bottom: 1px solid var(--skel-blue);
  cursor: pointer;
}
p {
  line-height: 1.7;
  font-weight: 300;
}

.title {
  letter-spacing: 2px;
  display: inline-block;
  font-size: 2.2rem;
}
.subtitle {
  margin: -0.5rem auto 2rem;
}
.info-text {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #555;
  font-size: 11px;
  margin: 1rem 0;
}
.info-bar {
  border: 1px solid var(--skel-blue);
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.layout {
  min-height: calc(100vh - 40px);
}
.section__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
.image-detail {
  max-width: 95vw;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (max-width: 1200px) {
  .section__inner {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 95%;
}
li {
  margin-bottom: 1rem;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='file'],
textarea {
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='file']:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
input[type='file'] {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
